/* You can add global styles to this file, and also import other style files */
@import "~@coreui/coreui/dist/css/coreui.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
    color: red;
}

.modal-bg {
    background-color: rgba(0, 0, 0, 0.66);
}


.danger {
    border: 2px solid red;
}

.ok {
    border: 2px solid green;
}

.danger:focus {
    border-color: red;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px red;
}

.ok:focus {
    border-color: green;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px green;
}