<div class="container bg-dark text-white">
    <form class="needs-validation">
        <div class="form row">
            <div class="col-md-6 mb-3">
                <label for="firstNameInput">First name</label>
                <input type="text" class="form-control" id="firstNameInput" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastNameInput">Last name</label>
                <input type="text" class="form-control" id="lastNameInput" required>
            </div>
        </div>
        <div class="form row">
            <div class="col-md-6 mb-3">
                <label for="cityInput">City</label>
                <input type="text" class="form-control" id="cityInput" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="stateInput">State</label>
                <input type="text" class="form-control" id="stateInput" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="zipInput">Zip</label>
                <input type="text" class="form-control" id="zipInput" required>
            </div>
        </div>
        <div class="form row">
            <div class="col-md-6 mb-3">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput">
            </div>
            <div class="col-md-6 mb-3">
                <label for="emailInputConfirmation">Confirm email</label>
                <input type="email" class="form-control" id="emailInputConfirmation">
            </div>
        </div>
        <div class="form row">
            <div class="col-md-6 mb-3">
                <label for="passInput">Password</label>
                <input type="password" class="form-control" id="passInput">
            </div>
            <div class="col-md-6 mb-3">
                <label for="passInputConfirmation">Confirm password</label>
                <input type="password" class="form-control" id="passInputConfirmation">
            </div>
        </div>
        <div class="form row">
            <div class="col-md-3 mb-3">
                <label for="ageInput">Age</label>
                <input type="number" class="form-control" id="ageInput">
            </div>
            <div class="col-md-3 mb-3">
                <label for="gender">Sex</label>
                <select class="form-control"  id="gender">
                    <option value="">Male</option>
                    <option value="">Female</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
</div>