<div class="row bg-dark text-white border-bottom border-secondary align-items-center" (click)="changeCollapse()" >
    <div class="col-sm-1" align="center">
        <div>{{currency.rank}}</div>
    </div>
    <div class="col-sm-5">
       <h2>{{currency.name}} - {{currency.symbol}}</h2>
    </div>
    <div class="col-sm-2" align="right">
        <div>${{currency.priceUsd | number:'1.2-2' }}</div>
    </div>
    <div class="col-sm-2" align="right">
        <div>${{currency.vwap24Hr | number:'1.2-2'}}</div>
    </div>
    <div class="col-sm-2" align="right">
        <div [ngClass]="isChangePercent24HrNegative() ? 'down' : 'up'">{{currency.changePercent24Hr | number:'1.2-2'}}%</div>
    </div>
</div>
<div class="collapse" [ngClass]="collapsed ? 'show' : ''">
    <app-currency-item-info [currency]="currency"></app-currency-item-info>
</div> 