<div class="container">
    <div class="row bg-dark text-white">
        <div class="col-sm-1">
            <div>Rank</div>
        </div>
        <div class="col-sm-5">
            <div>Name</div>
        </div>
        <div class="col-sm-2">
            <div>Price</div>
        </div>
        <div class="col-sm-2">
            <div>VWAP 24h</div>
        </div>
        <div class="col-sm-2">
            <div>Change 24h</div>
        </div>
        
    </div>
    <app-currency-item [currency]="currency" *ngFor="let currency of currencies"></app-currency-item>
</div>

